<div class=" pt-2 w3-padding-64">
	<div class="container">
		<h2 class="default-font text-center" style="font-size: 2.4em !important;">Cambia tu contraseña</h2>
		<p class="default-font">A continuación deberás cambiar tu contraseña. Para esto tendrás que ingresar una nueva contraseña y podrás continuar la busqueda de tu mascota!</p>
		<form method="post">
			<div class="form-group row">
				<div class="col-sm-4">
					<label for="pass_1">Ingresa la nueva contraseña</label>
					<input type="password" name="pass_1" class="w3-input" id="pass_1">
				</div>
				<div class="col-sm-4">
					<label for="pass_2">Confirma la contraseña</label>
					<input type="password" name="pass_2" class="w3-input" id="pass_2">
				</div>
				<div class="col-sm-4">
					<input type="submit" name="change_pass" class="btn mt-4 ay-btn" value="Cambiar la contraseña">
				</div>
				<?php echo $errorMsgRecover; ?>
			</div>
		</form>
	</div>
</div>