
<section class="container-fluid w3-padding-64">
	<h2 class="style-text-2"><i class="fad fa-heart-square w3-text-red"></i> Gracias por tomar esta iniciativa y donar!</h2>
	<p class="style-text-2">Recuerda que las donaciones <span class="w3-text-red">*NO SON OBLGIATORIAS*</span> y que se realizan para mantener la página web funcionando, con el fin de que más mascotas sean rescatadas o adoptadas. Recuerda que es un sitio web sin fines de lucro y lo donado será utilizado en la mantención del mismo.</p>

	<div class="row text-center">
		<h2 class="style-text-2 color-2">Métodos de donación</h2>
		<div class="col-sm-6">
			<h3 class="style-text-2 mb-4"><i class="fab fa-paypal w3-text-blue"></i> Paypal</h3>
			<form action="https://www.paypal.com/donate" method="post" target="_top">
			<input type="hidden" name="hosted_button_id" value="2L9YBU7ZW4LA4" />
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
			<img alt="" border="0" src="https://www.paypal.com/en_UY/i/scr/pixel.gif" width="1" height="1" />
			</form>
		</div>
		<div class="col-sm-6">
			<h3 class="style-text-2"><i class="fal fa-donate w3-text-cyan"></i> Mercado Pago</h3>
			<a class="btn btn-lg ay-btn" data-toggle="modal" data-target="#mercadopagoDonate" style="cursor: pointer;">Donar con mercado pago</a>
		</div>
	</div>
</section>