<ul data-aos="fade-in" class="nav justify-content-center" style="background-color: #E8E8E8;">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/gatos"><i class="fal fa-cat"></i> Gatos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/perros"><i class="fal fa-dog"></i> Perros</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/perdidos"><i class="fal fa-search-location"></i> Perdidos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/adopcion"><i class="fal fa-laptop-medical"></i> En adopción</a>
  </li>
  <li class="nav-item">
  	<a class="nav-link" href="/todos"><i class="fal fa-paw"></i> Todos</a>
  </li>
</ul>