<section class="container-fluid w3-padding-64">
	<div class="row">
		<div class="col-md-12">
			<div class="w3-padding-16">
				<h2 class="style-text-2 "><i class="fad fa-heart-square w3-text-red"></i> Proyecto de Ley de protección animal</h2>			
				<div class="w3-padding-16">

					<h3 class="style-text-2 color-2">¿Cómo puedo ayudar?</h3>
					<div class="container">
						<h5 class="default-font pl-2">Para ayudar puedes bajar el formulario haciendo <a href="/proyecto-proteccion-animal/Formulario de firmas para el Proyecto de Ley de Protección Animal-1.pdf" target="_blank" download="Formulario de firmas para el Proyecto de Ley de Protección Animal" class="w3-text-blue">click aquí</a>, lo imprimas y logra juntar la mayor cantidad de firmas posibles. <b class="w3-text-red">*RECUERDA QUE PARA QUE LAS FIRMAS SEAN VALIDAS DEBES INCLUIR LA CREDENCIAL CÍVICA.</b></h5>
					</div>


					<h2 class="style-text-2 color-2">¿Qué hago luego de juntar las firmas?</h2>
					<div class="container">
						<h5 class="default-font pl-2">Luego de juntar la mayor cantidad de firmas posibles debes comunicarte por WhatsApp haciendo <a href="https://api.whatsapp.com/send?phone=+59894676181" target="_blank" class="w3-text-blue">Click aquí</a> para guiarte en el proceso.</h5>
					</div>

					<h3 class="style-text-2 color-2">¿Qué es y que incluye el proyecto?</h3>
										<ul>
						<li>
							<p class="default-font"><span style="font-weight: bold;">Artículo 1º-</span> Prohíbese en todo el territorio de la República, los recursos o torneos con animales, las parodias de corridas de toros, cualquiera que sea su forma o denominación, el tiro de la paloma, riñas con animales, jineteadas, raids, carreras de perros y todo otro juego o entretenimiento, actitud, tenencia o actividad en vía pública como en propiedad privada, que puedan constituir una causa de mortificación para el hombre o los animales. Se autoriza la libertad de culto sin animales.</p>
						</li>
						<li>
							<p class="default-font"><span style="font-weight: bold;">Artículo 2º-</span> Los empresarios, promotores o propietarios de locales de espectáculos, o actividades privadas o públicas, tenencia irresponsable, actividades de maltrato animal, (sin perjuicio de lo establecido en el art. 5º y 11º de la constitución), experimentación, riñas, peleas, jineteadas o de matanza con sevicia a que se refiere al artículo anterior incurrirán en una multa de 100 a 500Urs o cárcel equivalente.</p>
						</li>
						<li>
							<p class="default-font"><span style="font-weight: bold;">Artículo 3º-</span> La disposición del artículo precedente es sin perjuicio de la obligación que tiene la autoridad policial de hacer cesar de inmediato toda acción o espectáculo, prohibido por ésta ley, y todo acto de crueldad o maltrato de cualquier especie animal, considerándose al animal, a partir de ésta ley un “sujeto de tutela”. Se prohíbe el rifle sanitario contra animales, autorizándose la eutanasia en casos de enfermedad irreversible, para evitar el sufrimiento innecesario, queda prohibida la reimplantación de las perrera (centros de captura y matanza de perros).</p>
						</li>
						<li>
							<p class="default-font"><span style="font-weight: bold;">Artículo 4º-</span> Se creará una Comisión de Protección Animal, integrada por representantes de las ONGs Protectoras de Animales, un integrante del Ministerio del Interior y un veterinario. Serán las Protectoras de animales, quienes por voto elegirán los titulares y suplentes para ocupar dichos cargos. Se crearán Oficinas Municipales de Protección Animal, en cada departamento del país, y se crearán Guardias Policiales y Municipales de Protección Animal en todo el territorio nacional, para su fiscalización, comunicando a las O.N.Gs para su requisa y depósito.</p>
						</li>
						<li>
							<p class="default-font"><span style="font-weight: bold;">Artículo 5º-</span> El enjuiciamiento y castigo del delito o infracción que esta ley se refiere, será competencia del Juez en materia Penal, quien procederá a sancionar y/o requisar al animal maltratado, entregándolo a las Instituciones en defensa de animales, o a particulares que adopten al animal requisado, siempre bajo la supervisión dela Comisión de Protección Animal, sancionando al agresor de acuerdo al grado de maltrato con la multa en Urs prevista, o cárcel equivalente y sumariamente con apelación para ante el Juez Letrado Correccional en Montevideo y ante los Jueces Departamentales en el interior.</p>
						</li>
						<li>
							<p class="default-font"><span style="font-weight: bold;">Artículo 6º-</span> Se creará un fondo de recursos provisto por el Estado e Intendencias Departamentales, para el eficiente funcionamiento de la Comisión de Protección Animal. Como así, el producto de las multas a que se refiere el artículo 2.º se destinará al traslado, mantenimiento y asistencia de los animales requisados en custodia de las O.N.Gs. o activistas.</p>
						</li>
						<li>
							<p class="default-font"><span style="font-weight: bold;">Artículo 7º-</span> Educación Primaria y Secundaria de todo el país, tendrán como materia mensual: tenencia responsable de animales y educación con respecto al trato ético de los mismos, promoviendo de ésta forma la baja de la violencia en el país. En los comedores de las escuelas, los niños vegetarianos o veganos, estarán autorizados a llevar sus meriendas. (Art 68 Const.)</p>
						</li>
						<li>
							<p class="default-font"><span style="font-weight: bold;">Artículo 8º-</span> Se realizará un registro de tenedores de perros y gatos en todo el país, cuya inscripción será obligatoria. La castración de perros y gatos, machos y hembras, pasa a ser obligatoria, salvo excepciones justificadas. Los centros de captura y matanza de perros, quedan prohibidas, asignando recursos económicos por parte de la Comisión de Protección Animal para las ONGs Protectoras de animales, como también, los alimentos incautados o mermas de las empresas alimenticias, logrando así un apoyo a las Instituciones de Protección Animal. La Comisión asignará personal voluntario para el desempeño eficiente de cada refugio de animales. Todo tenedor de un animal será responsable del mismo ante la ley.</p>
						</li>
						<li>
							<p class="default-font"><span style="font-weight: bold;">Artículo 9º-</span> El Estado promoverá a través de las Intendencias de todo el país, el Plan de sustitución de equinos trabajadores, por distintos medios y/o motocarros, para los clasificadores, registrando al clasificador y adoptante, en las Intendencias. La Comisión de Protección Animal, en conjunto con la ONGs Protectoras de Animales, quienes colaborarán en el seguimiento de los equinos, adopción o depósito en calidad de jubilados.</p>
						</li>
						<li>
							<p class="default-font"><span style="font-weight: bold;">Artículo 10º-</span> Se retirarán los animales cautivos en los zoológicos, destinándolos en forma paulatina a reservas nacionales e internacionales de rehabilitación y reinserción en sus medios autóctonos o símiles. Se aplicará la realidad virtual interactiva en cada zoológico, de acuerdo al Programa Zoo XXI, el cual será didáctico y tendiente a promover el respeto hacia toda forma de vida animal. </p>
						</li>
						<li>
							<p class="default-font"><span style="font-weight: bold;">Artículo 11º-</span> Se crearán Hospitales Públicos Veterinarios de 24hs, en cada departamento del país, donde se realizarán castraciones, atención de emergencias, asistencia de animales enfermos y/o accidentados, subvencionado por el estado e intendencias.</p>
						</li>
					</ul>
					<h4 class="style-text-2" style="font-weight: bold;">Puedes hacer <a target="_blank" class="w3-text-blue" href="../proyecto-proteccion-animal/PROYECTO DE LEY DE PROTECCIÓN ANIMAL por ANIMAL HELP.pdf">Click aquí</a> para ver más información sobre los artículos del proyecto.</h4>
					
				</div>
			</div>
		</div>
	</div>
</section>