<select class="w3-input" name="deptoUsuario" id="Departamento">
<?php
switch ($U_Departamento) {
  case 'Artigas':
  $dep = '
  <option value="Artigas" selected>Artigas</option>
  <option value="Canelones">Canelones</option>
  <option value="Cerro Largo">Cerro Largo</option>
  <option value="Colonia">Colonia</option>
  <option value="Durazno">Durazno</option>
  <option value="Flores">Flores</option>
  <option value="Lavalleja">Lavalleja</option>
  <option value="Maldonado">Maldonado</option>
  <option value="Montevideo">Montevideo</option>
  <option value="Paysandú">Paysandú</option>
  <option value="Rio Negro">Río Negro</option>
  <option value="Rivera">Rivera</option>
  <option value="Rocha">Rocha</option>
  <option value="Salto">Salto</option>
  <option value="San Jose">San José</option>
  <option value="Soriano">Soriano</option>
  <option value="Tacuarembo">Tacuarembó</option>
  <option value="Treinta y Tres">Treinta y Tres</option>
  ';
  break;
  case 'Canelones':
  $dep = '
  <option value="Artigas">Artigas</option>
  <option value="Canelones" selected>Canelones</option>
  <option value="Cerro Largo">Cerro Largo</option>
  <option value="Colonia">Colonia</option>
  <option value="Durazno">Durazno</option>
  <option value="Flores">Flores</option>
  <option value="Lavalleja">Lavalleja</option>
  <option value="Maldonado">Maldonado</option>
  <option value="Montevideo">Montevideo</option>
  <option value="Paysandú">Paysandú</option>
  <option value="Rio Negro">Río Negro</option>
  <option value="Rivera">Rivera</option>
  <option value="Rocha">Rocha</option>
  <option value="Salto">Salto</option>
  <option value="San Jose">San José</option>
  <option value="Soriano">Soriano</option>
  <option value="Tacuarembo">Tacuarembó</option>
  <option value="Treinta y Tres">Treinta y Tres</option>
  ';
  break;
  case 'Cerro Largo':
  $dep = '
  <option value="Artigas">Artigas</option>
  <option value="Canelones">Canelones</option>
  <option value="Cerro Largo" selected>Cerro Largo</option>
  <option value="Colonia">Colonia</option>
  <option value="Durazno">Durazno</option>
  <option value="Flores">Flores</option>
  <option value="Lavalleja">Lavalleja</option>
  <option value="Maldonado">Maldonado</option>
  <option value="Montevideo">Montevideo</option>
  <option value="Paysandú">Paysandú</option>
  <option value="Rio Negro">Río Negro</option>
  <option value="Rivera">Rivera</option>
  <option value="Rocha">Rocha</option>
  <option value="Salto">Salto</option>
  <option value="San Jose">San José</option>
  <option value="Soriano">Soriano</option>
  <option value="Tacuarembo">Tacuarembó</option>
  <option value="Treinta y Tres">Treinta y Tres</option>
  ';
  break;
  case 'Colonia':
  $dep = '
  <option value="Artigas">Artigas</option>
  <option value="Canelones">Canelones</option>
  <option value="Cerro Largo">Cerro Largo</option>
  <option value="Colonia" selected>Colonia</option>
  <option value="Durazno">Durazno</option>
  <option value="Flores">Flores</option>
  <option value="Lavalleja">Lavalleja</option>
  <option value="Maldonado">Maldonado</option>
  <option value="Montevideo">Montevideo</option>
  <option value="Paysandú">Paysandú</option>
  <option value="Rio Negro">Río Negro</option>
  <option value="Rivera">Rivera</option>
  <option value="Rocha">Rocha</option>
  <option value="Salto">Salto</option>
  <option value="San Jose">San José</option>
  <option value="Soriano">Soriano</option>
  <option value="Tacuarembo">Tacuarembó</option>
  <option value="Treinta y Tres">Treinta y Tres</option>
  ';
  break;
  case 'Durazno':
  $dep = '
  <option value="Artigas">Artigas</option>
  <option value="Canelones">Canelones</option>
  <option value="Cerro Largo">Cerro Largo</option>
  <option value="Colonia">Colonia</option>
  <option value="Durazno" selected>Durazno</option>
  <option value="Flores">Flores</option>
  <option value="Lavalleja">Lavalleja</option>
  <option value="Maldonado">Maldonado</option>
  <option value="Montevideo">Montevideo</option>
  <option value="Paysandú">Paysandú</option>
  <option value="Rio Negro">Río Negro</option>
  <option value="Rivera">Rivera</option>
  <option value="Rocha">Rocha</option>
  <option value="Salto">Salto</option>
  <option value="San Jose">San José</option>
  <option value="Soriano">Soriano</option>
  <option value="Tacuarembo">Tacuarembó</option>
  <option value="Treinta y Tres">Treinta y Tres</option>
  ';
  break;
  case 'Flores':
  $dep = '
  <option value="Artigas">Artigas</option>
  <option value="Canelones">Canelones</option>
  <option value="Cerro Largo">Cerro Largo</option>
  <option value="Colonia">Colonia</option>
  <option value="Durazno">Durazno</option>
  <option value="Flores" selected>Flores</option>
  <option value="Lavalleja">Lavalleja</option>
  <option value="Maldonado">Maldonado</option>
  <option value="Montevideo">Montevideo</option>
  <option value="Paysandú">Paysandú</option>
  <option value="Rio Negro">Río Negro</option>
  <option value="Rivera">Rivera</option>
  <option value="Rocha">Rocha</option>
  <option value="Salto">Salto</option>
  <option value="San Jose">San José</option>
  <option value="Soriano">Soriano</option>
  <option value="Tacuarembo">Tacuarembó</option>
  <option value="Treinta y Tres">Treinta y Tres</option>
  ';
  break;
  case 'Lavalleja':
  $dep = '
  <option value="Artigas">Artigas</option>
  <option value="Canelones">Canelones</option>
  <option value="Cerro Largo">Cerro Largo</option>
  <option value="Colonia">Colonia</option>
  <option value="Durazno">Durazno</option>
  <option value="Flores">Flores</option>
  <option value="Lavalleja" selected>Lavalleja</option>
  <option value="Maldonado">Maldonado</option>
  <option value="Montevideo">Montevideo</option>
  <option value="Paysandú">Paysandú</option>
  <option value="Rio Negro">Río Negro</option>
  <option value="Rivera">Rivera</option>
  <option value="Rocha">Rocha</option>
  <option value="Salto">Salto</option>
  <option value="San Jose">San José</option>
  <option value="Soriano">Soriano</option>
  <option value="Tacuarembo">Tacuarembó</option>
  <option value="Treinta y Tres">Treinta y Tres</option>
  ';
  break;
  case 'Maldonado':
  $dep = '
  <option value="Artigas">Artigas</option>
  <option value="Canelones">Canelones</option>
  <option value="Cerro Largo">Cerro Largo</option>
  <option value="Colonia">Colonia</option>
  <option value="Durazno">Durazno</option>
  <option value="Flores">Flores</option>
  <option value="Lavalleja">Lavalleja</option>
  <option value="Maldonado" selected>Maldonado</option>
  <option value="Montevideo">Montevideo</option>
  <option value="Paysandú">Paysandú</option>
  <option value="Rio Negro">Río Negro</option>
  <option value="Rivera">Rivera</option>
  <option value="Rocha">Rocha</option>
  <option value="Salto">Salto</option>
  <option value="San Jose">San José</option>
  <option value="Soriano">Soriano</option>
  <option value="Tacuarembo">Tacuarembó</option>
  <option value="Treinta y Tres">Treinta y Tres</option>
  ';
  break;
  case 'Montevideo':
  $dep = '
  <option value="Artigas">Artigas</option>
  <option value="Canelones">Canelones</option>
  <option value="Cerro Largo">Cerro Largo</option>
  <option value="Colonia">Colonia</option>
  <option value="Durazno">Durazno</option>
  <option value="Flores">Flores</option>
  <option value="Lavalleja">Lavalleja</option>
  <option value="Maldonado">Maldonado</option>
  <option value="Montevideo" selected>Montevideo</option>
  <option value="Paysandú">Paysandú</option>
  <option value="Rio Negro">Río Negro</option>
  <option value="Rivera">Rivera</option>
  <option value="Rocha">Rocha</option>
  <option value="Salto">Salto</option>
  <option value="San Jose">San José</option>
  <option value="Soriano">Soriano</option>
  <option value="Tacuarembo">Tacuarembó</option>
  <option value="Treinta y Tres">Treinta y Tres</option>
  ';
  break;
  case 'Paysandu':
  $dep = '
  <option value="Artigas">Artigas</option>
  <option value="Canelones">Canelones</option>
  <option value="Cerro Largo">Cerro Largo</option>
  <option value="Colonia">Colonia</option>
  <option value="Durazno">Durazno</option>
  <option value="Flores">Flores</option>
  <option value="Lavalleja">Lavalleja</option>
  <option value="Maldonado">Maldonado</option>
  <option value="Montevideo">Montevideo</option>
  <option value="Paysandu" selected>Paysandú</option>
  <option value="Rio Negro">Río Negro</option>
  <option value="Rivera">Rivera</option>
  <option value="Rocha">Rocha</option>
  <option value="Salto">Salto</option>
  <option value="San Jose">San José</option>
  <option value="Soriano">Soriano</option>
  <option value="Tacuarembo">Tacuarembó</option>
  <option value="Treinta y Tres">Treinta y Tres</option>
  ';
  break;
  case 'Rio Negro':
  $dep = '
  <option value="Artigas">Artigas</option>
  <option value="Canelones">Canelones</option>
  <option value="Cerro Largo">Cerro Largo</option>
  <option value="Colonia">Colonia</option>
  <option value="Durazno">Durazno</option>
  <option value="Flores">Flores</option>
  <option value="Lavalleja">Lavalleja</option>
  <option value="Maldonado">Maldonado</option>
  <option value="Montevideo">Montevideo</option>
  <option value="Paysandú">Paysandú</option>
  <option value="Rio Negro" selected>Río Negro</option>
  <option value="Rivera">Rivera</option>
  <option value="Rocha">Rocha</option>
  <option value="Salto">Salto</option>
  <option value="San Jose">San José</option>
  <option value="Soriano">Soriano</option>
  <option value="Tacuarembo">Tacuarembó</option>
  <option value="Treinta y Tres">Treinta y Tres</option>
  ';
  break;
  case 'Rivera':
  $dep = '
  <option value="Artigas">Artigas</option>
  <option value="Canelones">Canelones</option>
  <option value="Cerro Largo">Cerro Largo</option>
  <option value="Colonia">Colonia</option>
  <option value="Durazno">Durazno</option>
  <option value="Flores">Flores</option>
  <option value="Lavalleja">Lavalleja</option>
  <option value="Maldonado">Maldonado</option>
  <option value="Montevideo">Montevideo</option>
  <option value="Paysandú">Paysandú</option>
  <option value="Rio Negro">Río Negro</option>
  <option value="Rivera" selected>Rivera</option>
  <option value="Rocha">Rocha</option>
  <option value="Salto">Salto</option>
  <option value="San Jose">San José</option>
  <option value="Soriano">Soriano</option>
  <option value="Tacuarembo">Tacuarembó</option>
  <option value="Treinta y Tres">Treinta y Tres</option>
  ';
  break;
  case 'Rocha':
  $dep = '
  <option value="Artigas">Artigas</option>
  <option value="Canelones">Canelones</option>
  <option value="Cerro Largo">Cerro Largo</option>
  <option value="Colonia">Colonia</option>
  <option value="Durazno">Durazno</option>
  <option value="Flores">Flores</option>
  <option value="Lavalleja">Lavalleja</option>
  <option value="Maldonado">Maldonado</option>
  <option value="Montevideo">Montevideo</option>
  <option value="Paysandú">Paysandú</option>
  <option value="Rio Negro">Río Negro</option>
  <option value="Rivera">Rivera</option>
  <option value="Rocha" selected>Rocha</option>
  <option value="Salto">Salto</option>
  <option value="San Jose">San José</option>
  <option value="Soriano">Soriano</option>
  <option value="Tacuarembo">Tacuarembó</option>
  <option value="Treinta y Tres">Treinta y Tres</option>
  ';
  break;
  case 'Salto':
  $dep = '
  <option value="Artigas">Artigas</option>
  <option value="Canelones">Canelones</option>
  <option value="Cerro Largo">Cerro Largo</option>
  <option value="Colonia">Colonia</option>
  <option value="Durazno">Durazno</option>
  <option value="Flores">Flores</option>
  <option value="Lavalleja">Lavalleja</option>
  <option value="Maldonado">Maldonado</option>
  <option value="Montevideo">Montevideo</option>
  <option value="Paysandú">Paysandú</option>
  <option value="Rio Negro">Río Negro</option>
  <option value="Rivera">Rivera</option>
  <option value="Rocha">Rocha</option>
  <option value="Salto" selected>Salto</option>
  <option value="San Jose">San José</option>
  <option value="Soriano">Soriano</option>
  <option value="Tacuarembo">Tacuarembó</option>
  <option value="Treinta y Tres">Treinta y Tres</option>
  ';
  break;
  case 'San Jose':
  $dep = '
  <option value="Artigas">Artigas</option>
  <option value="Canelones">Canelones</option>
  <option value="Cerro Largo">Cerro Largo</option>
  <option value="Colonia">Colonia</option>
  <option value="Durazno">Durazno</option>
  <option value="Flores">Flores</option>
  <option value="Lavalleja">Lavalleja</option>
  <option value="Maldonado">Maldonado</option>
  <option value="Montevideo">Montevideo</option>
  <option value="Paysandú">Paysandú</option>
  <option value="Rio Negro">Río Negro</option>
  <option value="Rivera">Rivera</option>
  <option value="Rocha">Rocha</option>
  <option value="Salto">Salto</option>
  <option value="San Jose" selected>San José</option>
  <option value="Soriano">Soriano</option>
  <option value="Tacuarembo">Tacuarembó</option>
  <option value="Treinta y Tres">Treinta y Tres</option>
  ';
  break;
  case 'Soriano':
  $dep = '
  <option value="Artigas">Artigas</option>
  <option value="Canelones">Canelones</option>
  <option value="Cerro Largo">Cerro Largo</option>
  <option value="Colonia">Colonia</option>
  <option value="Durazno">Durazno</option>
  <option value="Flores">Flores</option>
  <option value="Lavalleja">Lavalleja</option>
  <option value="Maldonado">Maldonado</option>
  <option value="Montevideo">Montevideo</option>
  <option value="Paysandú">Paysandú</option>
  <option value="Rio Negro">Río Negro</option>
  <option value="Rivera">Rivera</option>
  <option value="Rocha">Rocha</option>
  <option value="Salto">Salto</option>
  <option value="San Jose">San José</option>
  <option value="Soriano" selected>Soriano</option>
  <option value="Tacuarembo">Tacuarembó</option>
  <option value="Treinta y Tres">Treinta y Tres</option>
  ';
  break;
  case 'Tacuarembo':
  $dep = '
  <option value="Artigas">Artigas</option>
  <option value="Canelones">Canelones</option>
  <option value="Cerro Largo">Cerro Largo</option>
  <option value="Colonia">Colonia</option>
  <option value="Durazno">Durazno</option>
  <option value="Flores">Flores</option>
  <option value="Lavalleja">Lavalleja</option>
  <option value="Maldonado">Maldonado</option>
  <option value="Montevideo">Montevideo</option>
  <option value="Paysandú">Paysandú</option>
  <option value="Rio Negro">Río Negro</option>
  <option value="Rivera">Rivera</option>
  <option value="Rocha">Rocha</option>
  <option value="Salto">Salto</option>
  <option value="San Jose">San José</option>
  <option value="Soriano">Soriano</option>
  <option value="Tacuarembo" selected>Tacuarembó</option>
  <option value="Treinta y Tres">Treinta y Tres</option>
  ';
  break;
  case 'Treinta y Tres':
  $dep = '
  <option value="Artigas">Artigas</option>
  <option value="Canelones">Canelones</option>
  <option value="Cerro Largo">Cerro Largo</option>
  <option value="Colonia">Colonia</option>
  <option value="Durazno">Durazno</option>
  <option value="Flores">Flores</option>
  <option value="Lavalleja">Lavalleja</option>
  <option value="Maldonado">Maldonado</option>
  <option value="Montevideo">Montevideo</option>
  <option value="Paysandú">Paysandú</option>
  <option value="Rio Negro">Río Negro</option>
  <option value="Rivera">Rivera</option>
  <option value="Rocha">Rocha</option>
  <option value="Salto">Salto</option>
  <option value="San Jose">San José</option>
  <option value="Soriano">Soriano</option>
  <option value="Tacuarembo">Tacuarembó</option>
  <option value="Treinta y Tres" selected>Treinta y Tres</option>
  ';
  break;
}
echo $dep;
?>
</select>
