<section class="container-fluid w3-padding-64">
	<h2 class="style-text-2">Algunas de las preguntas más frecuentes</h2>

	<div class="w3-padding-16">
		<h2 class="default-font color-2" style="font-size: 2.3em !important;">¿Quiénes somos?</h2>
		<div class="container">
			<p class="default-font">Adopta ¡Ya! es un sitio web creado por un jóven autodidacta amante de los animales.</p>
			<p class="default-font">En este sitio busco ayudar a todos los animales que se lo merecen y busco que todas las persoans que pierden sus mascotas puedan encontrarlas por intermedio de este sitio web.</p>
		</div>
	</div>
	<div class="w3-padding-16">
		<h2 class="default-font color-2" style="font-size: 2.3em !important;">¿Qué hacemos?</h2>
		<div class="container">
			<p class="default-font">Somos un sitio web relacionado con los animales que necesitan un hogar. En esta página web podras poner en adopción a las mascotas que más lo necesitan, tanto perros como gatos. Nuestra idea es que cada mascota pueda tener un hogar tanto como se lo merece.</p>
		</div>
	</div>
	<div class="w3-padding-16">
		<h2 class="default-font color-2" style="font-size: 2.3em !important;">¿Cómo puedo comunicarme con ustedes?</h2>
		<div class="container">
			<p class="default-font">Puedes comunicarte mediante nuestras redes sociales. 
				<a class="pl-3" href="https://www.instagram.com/adoptaya.uy/" target="_blank"><i class="fab fa-instagram"></i> @adoptaya.uy</a><a class="pl-3" href="https://www.facebook.com/adoptaya.uy" target="_blank"><i class="fab fa-facebook"></i> @adoptaya.uy</a>
				<a class="pl-3" href="https://api.whatsapp.com/send?phone=+59896889255" target="_blank"><i class="fab fa-whatsapp"></i> +598 96 889 255</a>
			</p>
		</div>
	</div>
	<div class="w3-padding-16">
		<h2 class="default-font color-2" style="font-size: 2.3em !important;">¿Para qué sirve donar?</h2>
		<div class="container">
			<p class="default-font">Con las donaciones ayudas a la página a mantenerse en línea y que los usuarios puedan seguir compartiendo sus mascotas para ser rescatadas o sus mascotas en adopción.</p>
		</div>
	</div>
</section>